.file_uploader {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    width: 100%;
}
.file_input {
    display: none;
    padding-left: 30%;
    font-size: large;
    align-content: center;
}